<%= stylesheet_link_tag "devise_sess_new"%>

<div class="d-flex flex-column align-items-center justify-content-center" style="height: 60vh;margin-top: 65px;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: "form" }) do |f| %>
    <h2>Log in</h2>
    
    <div class="field mb-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "input" %>
    </div>

    <div class="field mb-3">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", id: "input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions mb-3">
      <%= f.submit "Log in", class: "btn" %>
    </div>
  
    <div style="display: flex;align-items: center;justify-content: space-between;margin-bottom: 10px;">
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn">Sign up</button>
      <% end %>
      <%= link_to new_user_password_path do %>
        <button type="button" class="btn">Forgot your password?</button>
      <% end %>
    </div>
  <% end %>
</div>
