<%= stylesheet_link_tag "products_show"%>
<%= javascript_include_tag "cart" %>

<div class="d-flex align-items-center justify-content-center">
  <div class="card mb-3" style="margin-top: 70px;max-width: 700px;border-radius: 16px;box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%= @product.photo_url %>" class="img-fluid" alt="product-image" style="border-radius: 16px 0 0 16px;">
      </div>
      <div class="col-md-8">
        <div class="card-body" style="text-align: center;padding-top: 59px;">
          <% if user_signed_in? && current_user.admin %>
            <%= link_to product_path(@product), data: { turbo_method: :delete } do %>
              <i id="deleteIcon" class="fa-solid fa-delete-left fa-lg" title="Delete product"></i>
            <% end %>
          <% end %>

          <h5 class="card-title"><%= @product.name %></h5>
          <p class="card-text"><%= number_with_delimiter(@product.price, :delimiter => ',') %> RON</p>

          <button type="button" class="btn" id="addToCartBtn">Add to cart</button>
          <div class="input-group" style="justify-content: center;padding-top: 20px;">
            <span class="input-group-text">Quantity</span>
            <select class="form-select" style="max-width: 60px;" id="quantity_drop_down">
              <option value = 1 >1</option>
              <option value = 2 >2</option>
              <option value = 3 >3</option>
              <option value = 4 >4</option>
              <option value = 5 >5</option>
            </select>
          </div>

          <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="addToCart" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                  <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                  <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                <strong class="me-auto" style="padding-left: 10px;">Success !</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                <%= @product.name %> added to cart !
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('addToCartBtn').addEventListener('click', function () {
    var notification = new bootstrap.Toast(document.getElementById('addToCart'))

    notification.show()
    
    var e = document.getElementById("quantity_drop_down");
    var quantity = e.options[e.selectedIndex].value;
  
    add_to_cart('<%= @product.barcode %>', quantity)
  })
</script>
