<%= javascript_include_tag "cart" %>
<%= stylesheet_link_tag "cart_show"%>

<div id="container-background" class="container">
  <% if @cart != nil && @cart != {} %>
    <% total_price = 0 %>
    <div id="container-products" class="container" style="width: fit-content;">
      <div class="container d-flex" style="justify-content: space-around;align-items: center;">
        <h1>My cart</h1>
        <button onclick="clear_cart()" type="button" class="btn">Delete cart</button>
      </div>
      <% @cart.each do |product, quantity| %>
        <% total_price += product.price * quantity %>
        <%= render "product", product: product, quantity: quantity %>
      <% end %>
    </div>

    <div id="container-checkout" class="container">
      <!-- Checkout and voucher card -->
      <div class="card text-center" style="heigth: fit-content;">
        <div class="card-body">
          <h5 class="card-title">Your order</h5>
          <div class="container" style="display: flex;flex-direction: column; justify-content: space-evenly;margin-top: 20px;">
            <div class="container" style="display: flex;justify-content: center;" >
              <p class="card-text" style="padding-right: 10px;"><small><b>Total price:</b></small></p>
              <p style="font-weight: bold;color: darkolivegreen;font-size: 16px;"><%= number_with_delimiter(total_price.round(2), :delimiter => ',') %> RON</p>
            </div>
            <% if @discount %>
              <div class="container" style="display: flex;justify-content: center;" >
                <p class="card-text" style="padding-right: 10px;"><small><b>Discount:</b></small></p>
                <p style="font-weight: bold;color: darkolivegreen;font-size: 16px;"><%= @discount %> %</p>
              </div>
              <div class="container" style="display: flex;justify-content: center;" >
                <p class="card-text" style="padding-right: 10px;"><small><b>Final price:</b></small></p>
                <% cut = (@discount * total_price) / 100 %>
                <% final_price = total_price - cut %>
                <p style="font-weight: bold;color: darkolivegreen;font-size: 16px;"><%= number_with_delimiter(final_price.round(2), :delimiter => ',') %> RON</p>
              </div>
            <% end %>
          </div>
          <% if @discount %>
            <button onclick="checkout(<%= session[:cart].to_json %>, <%= total_price %>, <%= @discount %>, <%= final_price %>)" type="button" class="btn">Checkout</button>
          <% else %>
            <button onclick="checkout(<%= session[:cart].to_json %>, <%= total_price %>)" type="button" class="btn">Checkout</button>
          <% end %>
          <div style="margin-top: 20px;">
            <input style="max-width: 75%;" id="voucher-input" placeholder="Voucher ?">
            <button onclick="apply_discount(document.getElementById('voucher-input').value)" type="button" class="btn">Apply</button>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div>
      <h1 style="margin-bottom: 20px;">Your cart is empty !</h1>
      <%= link_to root_path do %>
        <button type="button" class="btn">Continue Shopping</button>
      <% end %>
    </div>
  <% end %>
</div>
